<?xml version="1.0" encoding="utf-8"?>
<!--IMPORTANT! The config file must be named exactly NuGet.Config otherwise Visual Studio might generate another one 
or the Linux pipeline doesn't recognize it as the effective config.-->
<configuration>
  <config>
    <add key="globalPackagesFolder" value="_nuget_packages" />
  </config>

  <packageSources>
    <add key="CommonToolsPackages" value="https://lewxx.pkgs.visualstudio.com/_packaging/CommonToolsPackages/nuget/v3/index.json"></add>
  </packageSources>
</configuration>